.button{
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    background-color: rgba($color: #ff6f61, $alpha: 1.0);
    border-radius: 8px;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    height: 58px;
    &.disabled{
        background-color: rgba($color: #f8a69f, $alpha: 1);
    }
    &.whiteType{
        background-color: #fff;
        border: 2px solid #ff6f61;
        color: #434343;
    }
    &.notUse{
        background-color: rgba($color: black, $alpha: 0.25);
    }
    &:before, &:after {
        position: absolute;
        top: 50%;
        content: '';
        width: 20px;
        height: 20px;
        background-color: rgba($color: #ff6f61, $alpha: 1.0);
        border-radius: 50%;
        z-index: -1;
    }
    &.whiteType:before, &.whiteType:after{
        background-color: rgba($color: #717171, $alpha: 1);
    }
    &:before {
        left: -20px;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    &:after {
        right: -20px;
        -webkit-transform: translate(50%, -50%);
        transform: translate(50%, -50%);
    }
    &:not([disabled]):hover, &.active {
        transition: 0.5s;
        background-color: rgba($color: #f8a69f, $alpha: 1);
        &:before {
            -webkit-animation: criss-cross-left 1s both;
            animation: criss-cross-left 1s both;
            -webkit-animation-direction: alternate;
            animation-direction: alternate;
          }
          &:after {
            -webkit-animation: criss-cross-right 1s both;
            animation: criss-cross-right 1s both;
            -webkit-animation-direction: alternate;
            animation-direction: alternate;
          }
    }
    &.whiteType:not([disabled]):hover, &.active {
        transition: 0.5s;
        background-color: rgba($color: #9b9999, $alpha: 1);
        color: #fff;
        border: none;
    }
}
@-webkit-keyframes criss-cross-left {
    0% {
        left: -20px;
    }
    50% {
        left: 50%;
        width: 20px;
        height: 20px;
    }
    100% {
        left: 50%;
        width: 2000px;
        height: 2000px;
    }
}
  
@keyframes criss-cross-left {
    0% {
        left: -20px;
    }
    50% {
        left: 50%;
        width: 20px;
        height: 20px;
    }
    100% {
        left: 50%;
        width: 2000px;
        height: 2000px;
    }
}
@-webkit-keyframes criss-cross-right {
    0% {
        right: -20px;
    }
    50% {
        right: 50%;
        width: 20px;
        height: 20px;
    }
    100% {
        right: 50%;
        width: 2000px;
        height: 2000px;
    }
}
@keyframes criss-cross-right {
    0% {
        right: -20px;
    }
    50% {
        right: 50%;
        width: 20px;
        height: 20px;
    }
    100% {
        right: 50%;
        width: 2000px;
        height: 2000px;
    }
}