.textarea{
    width: 100%;
    height: 250px;
    border: none;
    font-size: 17px;
    color: #171717;
    font-weight: 500;
    line-height: 1.2;
}
@media (max-width:780px) {
    .textarea{
        width: 100%;
        height: 150px;
        border: none;
        font-size: 15px;
    }
}