.checkbox{
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
    color: #272727;
    input{
        opacity: 0;
        position: absolute;
        width: 0;
        height: 0;
        &:checked+.label{
            &:before{
                background: url(/img/checked.png) center no-repeat;
            }    
        }
    }
    
    .text{
        padding-left: 25px;
        display: inline-block;
    }
    .label{
        position: absolute;
        top: 0;
        left: 0;
        &:before{
            position: relative;
            top: 2px;
            margin-right: 10px;
            box-sizing: border-box;
            width: 16px;
            height: 16px;
            border: none;
            content: '';
            display: inline-block;
            background: url(/img/unchecked.png) center no-repeat;
        }
    }
}
@media (max-width:780px) {
    .checkbox{
        font-size: 15px;
        line-height: 1.2;
    }
}