.mainStory{
    height: 2580px;
    background-color: #fff;
    .storyContent{
        max-width: 1240px;
        padding: 30px 20px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-evenly;
        .storyBox{
            margin-top: 120px;
            text-align: left;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            &:nth-child(even){
                text-align: right;
            }
            .title{
                color: #ff6f61;
                font-size: 40px;
                font-weight: 600;
            }
            .content, .mContent{
                color: #171717;
                margin-top: 39px;
                font-size: 22px;
                line-height: 1.64;
                font-weight: 400;
            }
            .mContent{
                font-size: 14px;
                margin-top: 15px;
                line-height: 1.86;
                display: none;
            }
            &:nth-child(1) {
                background: url(/img/mainStory1.png) no-repeat 88% 60px;
            }
            &:nth-child(2) {
                background: url(/img/mainStory2.png) no-repeat 23% 45px;
            }
            &:nth-child(3) {
                background: url(/img/mainStory3.png) no-repeat 95% 40px;
            }
            &:nth-child(4) {
                background: url(/img/mainStory4.png) no-repeat 18% 35px;
            }
            &:nth-child(5) {
                background: url(/img/mainStory5.png) no-repeat 85% 30px;
            }
        }
    }
}
@media (max-width:780px){
    .mainStory{
        height: auto;
        .storyContent{
            .storyBox{
                margin-top: 80px;
                display: block;
                flex: none;
                .title{
                    font-size: 24px;
                }
                .mContent{
                    display: block;
                }
                .content{
                    display: none;
                }
                &:nth-child(1) {
                    background: url(/img/mainStory1.png) no-repeat right bottom;
                    background-size: 210px;
                    height: 340px;
                }
                &:nth-child(2) {
                    background: url(/img/mainStory2.png) no-repeat left 9px;
                    background-size: 90px;
                    height: 170px;
                }
                &:nth-child(3) {
                    background: url(/img/mainStory3.png) no-repeat right bottom;
                    background-size: 165px;
                    height: 280px;
                }
                &:nth-child(4) {
                    padding-top: 25px;
                    background: url(/img/mainStory4.png) no-repeat -20px top;
                    background-size: 114px;
                    height: 205px;
                }
                &:nth-child(5) {
                    background: url(/img/mainStory5.png) no-repeat center bottom;
                    background-size: 159px;
                    height: 305px;
                }
            }
        }
    }
}