.scoreBox{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    .circle{
        width: 55px;
        height: 55px;
        background-color: transparent;
        transition: 0.5s;
        border: 3px solid #9b9faa;
        border-radius: 50%;
        display: inline-block;
        cursor: pointer;
        &:hover, &.selected{
            background-color: #9b9faa;
        }
        &:nth-child(2), &:nth-child(3), &:nth-child(4) {
            border-color: #ff6f61;
            &:hover, &.selected{
                background-color: #ff6f61;
            }
        }
        &:nth-child(6), &:nth-child(7), &:nth-child(8) {
            border-color: #5f394d;
            &:hover, &.selected{
                background-color: #5f394d;
            }
        }
        &:nth-child(5){
            width: 35px;
            height: 35px;
        }
        &:nth-child(4), &:nth-child(6){
            width: 45px;
            height: 45px;
        }
        &:nth-child(2), &:nth-child(8){
            width: 70px;
            height: 70px;
        }
    }
    .text{
        font-size: 25px;
        font-weight: 600;
        &:nth-child(1){
            color: #ff6f61;
            width: 110px;
            text-align: left;
        }
        &:nth-child(9){
            color: #5f394d;
            width: 110px;
            text-align: right;
        }
    }
}
@media (max-width:780px) {
    .scoreBox{
        .circle{
            width: 32px;
            height: 32px;
            &:nth-child(5){
                width: 18px;
                height: 18px;
            }
            &:nth-child(4), &:nth-child(6){
                width: 25px;
                height: 25px;
            }
            &:nth-child(2), &:nth-child(8){
                width: 40px;
                height: 40px;
            }
        }
        .text{
            font-size: 18px;
            &:nth-child(1){
                width: 60px;
            }
            &:nth-child(9){
                width: 60px;
            }
        }
    }
}
