.topInfo{
    width: 100%;
    margin-top: 80px;
}
.content{
    max-width: 780px;
    margin: 0 auto;
    margin-top: 80px;
    border-bottom: 1px solid #e0e0e0;
    .imageArea{
        margin-top: 40px;
        img{
            box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.06);
            &:nth-last-child(1){
                display: none;
            }
            &:nth-child(1){
                display: inline-block;
            }
        }
    }
    .infoText{
        word-break: keep-all;
        margin-top: 40px;
        color: #555;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        margin-bottom: 80px;
    }
    &:nth-last-child(1){
        border: none;
        .infoText{
            margin-bottom: 150px;
        }
        .imageArea{
            img{
                box-shadow: none;
            }
        }
    }
}
@media (max-width:780px){
    .topInfo{
        margin-top: 65px;
    }
    .content{
        width: calc(100% - 40px);
        margin: 0 20px;
        margin-top: 60px;
        .imageArea{
            img{
                width: calc(100% - 32px);
                margin: 0 16px;
                &:nth-child(1){
                    display: none !important;
                }
                &:nth-last-child(1){
                    display: inline-block !important;
                }
            }
        }
        .infoText{
            margin-bottom: 60px;
        }
        &:nth-last-child(1){
            .infoText{
                margin-bottom: 80px;
            }
            .imageArea{
                img{
                    width: 48%;
                    margin: 0 auto;
                }
            }
        }
    }
}