.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:80px;
    z-index: 10;
    transition: 0.15s;
    .content{
        height: 100%;
        max-width: 1240px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo a{
            color: #ff6f61;
            font-weight: 600;
            font-size: 22px;
            text-decoration: none;
        }
        .nav{
            display: inline-block;
            ul{
                li{
                    float: left;
                    margin-right: 80px;
                    a{
                        color: #fff;
                        text-decoration: none;
                        transition: 0.15s;
                        &:hover{
                            color: #ff6f61;
                        }
                    }
                }
            }
        }
        .memberNav{
            .profileImg{
                width: 47px;
                height: 47px;
                border-radius: 50%;
            }
            display: inline-block;
            ul{
                li{
                    float: left;
                    margin-left: 41px;
                    font-size: 14px;
                    position: relative;
                    a{
                        color: #fff;
                        text-decoration: none;
                        font-weight: 300px;
                        transition: 0.15s;
                        &:hover{
                            color: #ff6f61;
                        }
                    }
                    &:before{
                        content: '';
                        display: inline-block;
                        width: 1px;
                        height: 14px;
                        background-color: #c2c2c2;
                        position: absolute;
                        left: -20px;
                        top: 1px;
                    }
                    &:nth-child(1) {
                        margin-left: 0;
                        &:before{
                            content: none;
                        }
                    }
                }
            }
        }
        .memberText{
            font-size: 14px;
            font-weight: 300;
            color: #fff;
            margin-left: 16px;
        }
        .logout{
            font-size: 11px;
            color: rgba($color: #ff6f61, $alpha: 1.0);
            background-color: #fff;
            border-radius: 3px;
            border: none;
            height: 27px;
            margin-left: 20px;
            &:hover{
                transition: 0.3s;
                color: #fff;
                background-color: rgba($color: #ff6f61, $alpha: 1.0);
            }
        }
    }
    &.backGroundHeader{
        background-color: #fff;
        border-bottom: #e8e8e8 1px solid;
        .content{
            .nav{
                display: inline-block;
                ul{
                    li{
                        a{
                            color: #171717;
                            text-decoration: none;
                            &:hover{
                                color: #ff6f61;
                            }
                        }
                    }
                }
            }
            .memberNav{
                ul{
                    li{
                        a{
                            color: #5e5e5e;
                            &:hover{
                                color: #ff6f61;
                            }
                        }
                        &:before{
                            background-color: #c2c2c2;
                        }
                    }
                }
            }   
        }
        .memberText{
            color: #171717;
        }
        .logout{
            font-size: 11px;
            color: #fff;
            background-color: rgba($color: #f8a69f, $alpha: 1);;
            border-radius: 3px;
            border: none;
            height: 27px;
            margin-left: 20px;
            &:hover{
                transition: 0.3s;
                color: #fff;
                background-color: rgba($color: #ff6f61, $alpha: 1.0)
            }
        }
    }
}