.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:80px;
    z-index: 10;
    transition: 0.15s;
    .content{
        height: 100%;
        max-width: 1240px;
        padding: 0 20px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo a{
            color: #ff6f61;
            font-weight: 600;
            font-size: 22px;
            text-decoration: none;
        }
        .logo img{
            width: 110px;
        }
        .nav{
            display: inline-block;
            ul{
                li{
                    float: left;
                    margin-right: 80px;
                    a{
                        color: #fff;
                        text-decoration: none;
                        transition: 0.15s;
                        &:hover{
                            color: #ff6f61;
                        }
                    }
                }
            }
        }
        .memberNav{
            .profileImg{
                width: 47px;
                height: 47px;
                border-radius: 50%;
            }
            display: inline-block;
            ul{
                li{
                    float: left;
                    margin-left: 41px;
                    font-size: 14px;
                    position: relative;
                    a{
                        color: #fff;
                        text-decoration: none;
                        font-weight: 300px;
                        transition: 0.15s;
                        &:hover{
                            color: #ff6f61;
                        }
                    }
                    &:before{
                        content: '';
                        display: inline-block;
                        width: 1px;
                        height: 14px;
                        background-color: #c2c2c2;
                        position: absolute;
                        left: -20px;
                        top: 1px;
                    }
                    &:nth-child(1) {
                        margin-left: 0;
                        &:before{
                            content: none;
                        }
                    }
                }
            }
        }
        .memberText{
            font-size: 13px;
            font-weight: 300;
            color: #fff;
            margin-left: 16px;
        }
        .logout{
            font-size: 11px;
            color: rgba($color: #ff6f61, $alpha: 1.0);
            background-color: #fff;
            border-radius: 3px;
            border: none;
            height: 27px;
            margin-left: 35px;
            &:hover{
                transition: 0.3s;
                color: #fff;
                background-color: rgba($color: #ff6f61, $alpha: 1.0);
            }
        }
    }
    &.backGroundHeader{
        background-color: #fff;
        border-bottom: #e8e8e8 1px solid;
        .content{
            .nav{
                display: inline-block;
                ul{
                    li{
                        a{
                            color: #171717;
                            text-decoration: none;
                            &:hover{
                                color: #ff6f61;
                            }
                        }
                    }
                }
            }
            .memberNav{
                ul{
                    li{
                        a{
                            color: #5e5e5e;
                            &:hover{
                                color: #ff6f61;
                            }
                        }
                        &:before{
                            background-color: #c2c2c2;
                        }
                    }
                }
            }   
        }
        .memberText{
            color: #171717;
        }
        .logout{
            font-size: 11px;
            color: #fff;
            background-color: rgba($color: #f8a69f, $alpha: 1);;
            border-radius: 3px;
            border: none;
            height: 27px;
            margin-left: 35px;
            &:hover{
                transition: 0.3s;
                color: #fff;
                background-color: rgba($color: #ff6f61, $alpha: 1.0)
            }
        }
    }
}
.mHeader{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:64px;
    z-index: 10;
    transition: 0.15s;
    &.backGroundHeader, &.open{
        background-color: #fff;
        border-bottom: #e8e8e8 1px solid;
        .hamMenu{
            span{
                background-color: #171717 !important;
            }
        }
    }
    .content{
        padding:0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        .logo img{
            width: 100px;
        }
        .hamMenu{
            width: 24px;
            height: 20px;
            position: relative;
            cursor: pointer;
            span{
                display: block;
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: #fff;
                border-radius: 1px;
                opacity: 1;
                left: 0;
                transition: .25s ease-in-out;
                &:nth-child(1){
                    top: 0;
                }
                &:nth-child(2){
                    top: 9px;
                }
                &:nth-child(3){
                    top: 18px;
                }
            }
        }
    }
    &.open{
        .content{
            .hamMenu{
                span{
                    &:nth-child(1){
                        transform: rotate(45deg);
                        top: 9px;
                        left: 0px;
                    }
                    &:nth-child(2){
                        width: 0%;
                        opacity: 0;
                    }
                    &:nth-child(3){
                        transform: rotate(-45deg);
                        top: 9px;
                        left: 0px;
                    }
                }
            }
        }
        .nav{
            left: 0;
            opacity: 1;
        }
    }
    .nav{
        display: block;
        position: fixed;
        top: 65px;
        bottom: 0;
        background-color: #fff;
        width: 100%;
        left: -100%;
        opacity: 0;
        transition: 0.15s ease-in-out;
        text-align: left;
        box-sizing: border-box;
        padding-left: 20px;
        .memberNav{
            margin-top: 30px;
            .profileImg{
                width: 47px;
                height: 47px;
                border-radius: 50%;
            }
            .memberText{
                font-size: 13px;
                font-weight: 500;
                color: #303030;
                margin-left: 12px;
            }
            .logout{
                font-size: 11px;
                color: #fff;
                background-color: rgba($color: #f8a69f, $alpha: 1);;
                border-radius: 3px;
                border: none;
                height: 27px;
                margin-left: 20px;
                &:hover{
                    transition: 0.3s;
                    color: #fff;
                    background-color: rgba($color: #ff6f61, $alpha: 1.0)
                }
            }
        }
        ul{
            margin-top: 50px;
            li{
                margin-top: 28px;
                a{
                    color: #303030;
                    text-decoration: none;
                    font-size: 22px;
                    font-weight: 600;
                    &:hover{
                        transition: 0.3s;
                        color: #ff6f61;
                    }
                }
            }
        }
    }
}
@media (max-width:1024px){
    .header{
        display: none;
    }
    .mHeader{
        display: block;
    }
}