.wrapper{
    height: 770px;
    background-color: #fff;
    .title{
        padding-top: 150px;
        text-align: center;
        color: #171717;
        font-size: 44px;
        font-weight: 600;
    }
    .subTitle{
        margin-top: 49px;
    }
    .ticketInfo{
        color: #3b3b3b;
        font-size: 26px;
        font-weight: 600;
        margin-top: 30px;
    }
    .image{
        margin-top: 66px;
    }
}
@media (max-width:780px){
    .wrapper{
        height: 700px;
        .title{
            font-size: 28px;
            width: 240px;
            margin: 0 auto;
            line-height: 1.43;
        }
        .subTitle{
            margin-top: 35px;
        }
        .ticketInfo{
            font-size: 18px;
            margin-top: 19px;
        }
        .image{
            margin-top: 49px;
            img{
                width: calc(100% - 90px);
            }
        }
    }
}